Repository AlrikOlson/discord-bot-template, changes with the labels that .github/labeler.yml gives for each.
All labels: core, command, config, ci, docs, dependencies, scripts

create-command + es module
  .eslintrc.cjs
  package.json
  src/commands/help.js
  src/commands/ping.js
  src/config.js
  src/events/errorHandler.js
  src/index.js
  src/scripts/create-command.js
  src/scripts/deploy.js
Labels: core, command, config, dependencies, scripts

update readme
  README.md
Labels: docs

update readme (#5)
  README.md
Labels: docs

feat: implement winston logging and refactor error handling
  .env.example
  .eslintrc.cjs
  .gitignore
  README.md
  package.json
  src/config/env.js
  src/events/errorHandler.js
  src/index.js
  src/scripts/clean-logs.js
  src/scripts/create-command.js
  src/scripts/deploy.js
  src/scripts/init.js
  src/utils/logger.js
Labels: core, config, docs, dependencies, scripts

fix package.json
  package.json
Labels: dependencies

feat: implement winston logging and refactor error handling (#6)
  .env.example
  .eslintrc.cjs
  .gitignore
  README.md
  package.json
  src/config/env.js
  src/events/errorHandler.js
  src/index.js
  src/scripts/clean-logs.js
  src/scripts/create-command.js
  src/scripts/deploy.js
  src/scripts/init.js
  src/utils/logger.js
Labels: core, config, docs, dependencies, scripts

chore: remove sentry
  .env.example
  README.md
  src/config/env.js
Labels: core, config, docs

chore: remove sentry (#7)
  .env.example
  README.md
  src/config/env.js
Labels: core, config, docs

fix readme
  README.md
Labels: docs

Fix readme (#8)
  README.md
Labels: docs

fix
  README.md
Labels: docs

Wthreadme (#9)
  README.md
Labels: docs

fix: workflow permissions
  .github/workflows/ci.yml
Labels: ci

fix: workflow permissions (#10)
  .github/workflows/ci.yml
Labels: ci

.github/labeler.yml:

# Core Changes
core:
  - src/**/*

# Command Changes
command:
  - src/commands/**/*

# Configuration Changes
config:
  - src/config.js
  - .env.example

# CI/CD Changes
ci:
  - .github/workflows/**/*

# Documentation Changes
docs:
  - README.md
  - docs/**/*

# Dependency Changes
dependencies:
  - package.json
  - package-lock.json

# Script Changes
scripts:
  - src/scripts/**/*
